/* ------------------------------------HTML------------------------------*/
body {
  margin: 0;
  height: 100vh;
}

footer {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #e9e4e6;
  text-align: center;
}

a {
  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
  color: #3bb4c1;
  margin: 1% 2.5% 2.5% 2.5%
}

a:hover {
  text-decoration: none;
  font-size: 17px;
  color: #048998;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}

h3{
  font-size: 2vw;
  font-family: 'Montserrat', serif;
  font-weight: 500;
}

/* ------------------------------------Text------------------------------*/
.mainTitle {
  font-size: calc(1.8rem + 3.3vw);
  /* font-size: 7vw  ; */
  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
  color: #3bb4c1;

}

.experienceTitle {
  font-size: calc(1.8rem + 3.3vw);
  /* font-size: 7vw  ; */
  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
  color: #3bb4c1;
padding-bottom: 7%;
}

.title {
  font-size: calc(1rem + 3vw);
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: calc(1rem + 2vw);
}

.bodyText {
font-size: calc(.5rem + 1.5vw);
}

.skills-body-text {
font-size: calc(.4rem + .5vw);
}

.navText{
  font-size: 70%;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}

.bodyTextSml {
  font-size: calc(.3rem + 1vw);
  font-family: 'Noto Serif TC', serif;
}

.center {
  text-align: center;
}

.whiteText {
  color: #f6f5f5;
}

.btnFont{

  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
}

.two-column{
  column-count: 2
}

/* ------------------------------------Sections------------------------------*/

.nav-corner{
  border-radius: 0
}

.intro {}

.about {
  background-color: #f6f5f5;
  height: auto;
  z-index: 3;
  position: relative;
  width: 100%;
  text-align: center;
}

.blueSection {
  background-color: #3bb4c1;
  margin: 0;
  height: auto;
  z-index: 0;
}

.titleSection {
  height: auto;
  background-color: #e9e4e6;
  margin: 0;
  position: relative;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 5%;
  z-index: 0;
}

.aboutText {
  text-align: center;
  padding-top: 5%;
  padding-top: 5%;
}

.skills {
  background-color: #e9e4e6;
  z-index: 0;
  width: 100%;
  position: relative;
}

.skillsDetail {
  margin: 0% 2% 8% 2%;
  padding: 0 2% 0 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experienceDetail {
  border-radius: 5% 5%;
  border-color: #f6f5f5;
  border-width: 5px;
  border-style: solid;
  width: 80%;

}

.experience {
  background-color: #3bb4c1;
  height: auto;
  z-index: 0;
  width: 100%;
  position: relative;
}

.nav {
  background-color: #f6f5f5;
}

.setWidth {
  width: 100%;
  padding: 5%;
  height: 40%
}


.bottomRow {
  margin-bottom: 5%;
}

.topRow {
  margin-top: 10%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline{
  display: inline-block;
}

.pinToBottom {
  bottom: 0;
}

.width100 {
  width: 100%;
  margin: 5px;
}

.width80 {
  width: 80%;
  margin: 5px;
}

.btn-width{
  width: ;
}

/* ------------------------------------Images------------------------------*/
.photo {

  z-index: 2;
  display: inline-block;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
  overflow: hidden;
}

.shad {
  height: 90%;
  z-index: 1;
  display: inline-block;
  position: absolute;
  margin-left: 20%;
  margin-top: 2%;
}

.round-img {
  width: 90%;
  border-radius: 100%;
  margin: 20px 0;
  text-align: center;
  position: inherit;
}

.round-corner-img {
  width: 100%;
  border-radius: 10%;
  margin: 20px 0;
  text-align: right;
  position: inherit;
}

.round-img-lg {
  width: 70%;
  border-radius: 100%;
  margin: 1% 0;
  text-align: center;
  position: inherit;
}

.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.round-img:hover {
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}

/* ------------------------------------Images------------------------------*/
.hi {
  animation: fadeIn;
  animation-duration: 800ms;
  animation-delay: 0.5s;
}

.name {
  animation: fadeIn;
  animation-duration: 800s;
  animation-delay: 1.5s;
}

.jobdes {
  animation: fadeIn;
  animation-duration: 800ms;
  animation-delay: 3s;
}

.introBtn {
  animation: fadeIn;
  animation-duration: 800ms;
  animation-delay: 4s;
}

/* --------------------------------Modals------------------------------------ */

.modal-green-head{
background-color: #3bb4c1;
text-align: center;
color: #f6f5f5
}

.modal-grey-head{
  background-color: #e9e4e6;
  text-align: center;
  color: #3bb4c1
}

.modal-green-head{

  }

.modal-grey-head{

  }

.modal-text{
  padding: 1% 10%;
}

.skills-text{
  padding: 2% 2%;

}

  /* ------------------------------Buttons----------------------------------- */

  .green-btn{
  background-color: #3bb4c1;
  color: #f6f5f5
  }

  /* -------------------------------Form------------------------------------- */

  .thanks {
    display: none;
    }
